.charContainer{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	max-width: 1000px;
	margin: auto;
}
.textAreaContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.textContain{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.textArea-label{
	font-size: 25px;
}

#submitButton{
	position: relative;
	display: block;
	margin-top: 10px;
	padding: 5px;
	font-size: 35px;
}