.charContainer{
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	margin: auto;
}

.textAreaContainer{
	display: inline;
}
.textContain{
	display: inline-block;
	text-align: center;
}
.equip,.biop{
	display: block;
}
textarea{
	width: 250px;
	height: 300px;
}
#submitButton{
	position: relative;
	display: block;
	margin-top: 10px;
	padding: 5px;
	font-size: 35px;
}