.charContainer{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	max-width: 1000px;
	margin: auto;
}
.textArea-containers{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.textContain{
	display: flex;
	flex-direction: column;
}
.textArea-label{
	font-size: 25px;
}

#submitButton{
	position: relative;
	display: block;
	margin-top: 10px;
	padding: 5px;
	font-size: 35px;
}

#stats-skills-abilities-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* used in CharAbilities, CharSkills, CharEquipment,CharItems */
.input_wrapper{
	display:flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--black);
  border-radius: 3px;
	padding: 3px 5px;
	max-width: 275px;
}
.button_char{
	border-radius: 2px;
	padding: 5px 4px;
}
.remove_index, .toggle_hidden{
	border: 1px solid black;
  color: white;
  background-color: black;
  border-radius: 3px;
	padding: 1px 3px;
	margin-right: 3px;
}
.remove_index:hover, .toggle_hidden:hover{
	color: var(--error);
  border-color: var(--error);
  cursor: pointer;
}



.hidden{
  visibility: hidden;
  height: 0px;
}