.statsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 5px;
  max-width: 400px;
  padding: 2px 5px;
  margin: 5px;
  text-align: center;
  max-height: 550px;
}

.stats-holder{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.stats{
	display: flex;
	flex-direction: column;
  font-size: 20px;
  max-width: 190px;
}

.stat{
  max-width: 30px;
  text-align: center;
  margin-left: 35%;
  border: 1px solid black;
  border-radius: 3px;
  padding: 1px 3px;
}
.statsMod {
  margin: 2px;
  margin-block-start: 0%;
  margin-block-end: 4%;
}
.statMod {
  display: block;
  border: 1px solid black;
  border-radius: 3px;
  padding: 1px 3px;
  max-width: 40px;
  margin-top: 2px;
  margin-left: 35%;
}
#resources{
  display: flex;
  flex-direction: row;
  /* align-content: space-around; */
  justify-content: space-around;
  border-top: 1px solid var(--black);
}
.resource{
  margin: 0px;
  font-size: 20px;
}
.resource_name, .resource_value {
  margin: 2px;
  padding: 1px;
}