.statsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
  max-width: 300px;
}

.stats-holder{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.stats{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	justify-self: center;
}

.stat{
	display: relative;
	width: 40px;
	text-align: center;
	margin-right: 2px;
}