.charactersContainer{
  display: flex;
	top: 80px;
}
.charListContainer{
  display: flex;
  justify-content: space-evenly;
  max-width: 700px; ;
  margin: auto;
  /* overflow: auto; */
}
.charCard{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding:5px
}
.char_status{
  display: flex;
  flex-direction: row;
  
}
.char_info{
  margin: 2px;
}
.editButton,.viewButton{
  padding: 3px;
}
.editButton{
  max-width: 75px;
}
.viewButton{
 max-width: 75px;
}