.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0%;
  width :100%;
  padding: 10px;
  background-color: var(--primary);
  
}
.header a{
  color: var(--black);
  text-decoration: none;
  margin-right: 5px;
}
.header_brand{
  margin: 0;
  font-size: 24px;
  text-decoration: underline;
} 
.header_nav{
  display: flex;
  align-self: center;
  font-size: 20px;
  
}
.not_logged_in, .logged_in{
  padding: 2px;
}
.rules-link{
  padding: 2px;
  padding-right: 8px;
  border-right: 1px solid var(--black);
}
/* .rules-divider{
  height: 20px;
  border: 1px solid var(--black);
} */
