#items_container{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 2px;
  padding: 5px;
  max-width: auto;
}
#add_item_name{
  margin-left: 0%;
}
ul#list_items{
  width: 270px;
  overflow-wrap: break-word;
  border: 1px solid var(--black);
  border-radius: 3px;
  padding: 5px;
  margin: 2px;
  text-align: left;
}
li.item{
  list-style-type: none;
  border-bottom: 1px solid var(--black);
  padding: 5px;
}
.item_name{
  margin: 0%;
}
.item_description{
  margin: 7px;
}